name: RSpec

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron: "0 10 * * *"

jobs:
  rspec:
    runs-on: ubuntu-latest

    env:
      CI: true
      ALLOW_FAILURES: "${{ matrix.allow_failures }}"
      BUNDLE_GEMFILE: ${{ matrix.gemfile }}
      ENABLE_PARENT_ASSIGNMENT: "${{ matrix.enable_parent_assignment }}"

    strategy:
      fail-fast: false
      matrix:
        ruby: ["jruby-9.4.8.0", 3.2, 3.3, 3.4, 4.0]

        gemfile: [
          "gemfiles/jruby.gemfile",
          "gemfiles/rails_7_2.gemfile",
          "gemfiles/rails_8_0.gemfile",
          "gemfiles/rails_8_1.gemfile"
        ]

        enable_parent_assignment: ["true", "false"]

        allow_failures:
          - false

        exclude:
          - ruby: "jruby-9.4.8.0"
            gemfile: gemfiles/rails_7_2.gemfile
          - ruby: "jruby-9.4.8.0"
            gemfile: gemfiles/rails_8_0.gemfile
          - ruby: "jruby-9.4.8.0"
            gemfile: gemfiles/rails_8_1.gemfile

          - ruby: "3.4"
            gemfile: gemfiles/rails_7_0.gemfile

          - ruby: 3.1
            gemfile: gemfiles/rails_8_0.gemfile
          - ruby: 3.1
            gemfile: gemfiles/rails_8_1.gemfile

          - ruby: "3.0"
            gemfile: gemfiles/jruby.gemfile
          - ruby: 3.1
            gemfile: gemfiles/jruby.gemfile
          - ruby: 3.2
            gemfile: gemfiles/jruby.gemfile
          - ruby: 3.3
            gemfile: gemfiles/jruby.gemfile
          - ruby: 3.4
            gemfile: gemfiles/jruby.gemfile
          - ruby: "4.0"
            gemfile: gemfiles/jruby.gemfile

        include:
          - ruby: ruby-head
            gemfile: gemfiles/railsmaster.gemfile
            allow_failures: true

    steps:
    - uses: actions/checkout@v2
    - name: Install SQLite
      run: sudo apt-get install libsqlite3-dev
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
        cache-version: 6
        bundler: 2.5.15
    - name: Run RSpec
      run: bundle exec rake spec || $ALLOW_FAILURES
